.main {
  display: flex;
  flex-direction: column;
  gap: 40px;

  flex: 1;
}

.main__header {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.main__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  gap: 20px;
  place-content: center;
}
