.sidebar {
  flex: 1;
}

.sidebar__profile-info {
  display: flex;
  gap: 16px;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

.sidebar__profile-actions {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 8px;
  font-weight: 700;
  font-size: 20px;
}
