.weather-card {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

  height: 80px;

  display: flex;
  align-items: center;
  padding-left: 16px;

  overflow: hidden;
  border-radius: 12px;
}

.weather-card__temp {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 36px;
  color: white;
}
