.modal {
  top: 0;
  left: 0;

  position: fixed;
  transition: opacity 0.5s ease;

  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  display: grid;
  place-items: center;
  opacity: 0;

  transition: opacity 0.2s ease-in;

  z-index: 2;
}

.modal--visible {
  opacity: 1;
}

.modal__container {
  background-color: #fff;
  border-radius: 16px;
  width: 500px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.modal__close-button {
  width: 16px;
  height: 16px;

  position: absolute;
  right: 26px;
  top: 26px;

  cursor: pointer;
}

.modal_type_form__container {
  gap: 24px;
  padding: 28px;
}
