.header {
  display: flex;
  justify-content: space-between;
}

.header__left-section {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__logo {
  font-family: 'Cabinet Grotesk', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.2;
}

.header__date {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.header__right-section {
  list-style: none;
  display: flex;
  font-weight: 700;
  gap: 20px;
  align-items: center;
  font-size: 20px;
}

.header__user-image {
  width: 40px;
}

.header__nav-item {
  cursor: pointer;
}
