.item-modal__description {
  padding: 20px 0 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item-modal__title,
.item-modal__weather {
  margin: 0;

  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
